
@{
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
    ViewBag.Title = "Carrinho Vazio";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="~/Content/PartialsEcommerce/EmptyCart.css" rel="stylesheet" />
    <link href="~/Content/rootE.css/" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <title>Carrinho vazio - Dom Tchochoro</title>
</head>
<body>

        <main class="layout-flex container">
            <section>
                <div class="empty-cart-content container">
                    <h1 class="empty-cart-title">Seu carrinho está vazio</h1>
                    <div class="empty-cart-image">
                        <img src="~/Content/Imagens/EmptyCart.svg" alt="" class="cart-image">
                    </div>
                    @Html.ActionLink("Continuar comprando", "Home", new { controller = "HomeEcommerce" }, new { @class = "cart-button" })
                </div>
            </section>
        </main>

    </body>
</html>