@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Dom Tchochoro</title>
    <link href="~/Content/rootEcommerce.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/LoginEcommerce.css" rel="stylesheet" />
</head>
<body>
    <main> 
        <div class="container-form">
            <img src="~/Content/Imagens/logo-bill.svg" alt="D da Dom Tchochoro"/>
            <h1>Fazer Login</h1>
            <div class="google-button"></div>
            <form class="form-login">
                <div class="input-block">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email">

                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password">

                    <span class="forgot-password">Esqueci minha conta</span>
                    <button class="login-button">Entra na sua conta</button>
                </div>
            </form>
            <span class="create-account-text">Não tem conta ainda? <u class="create-link">Criar</u></span>
        </div>
    </main>
</body>
</html>
