@model GladiaSystem.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Dom Tchochoro</title>
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/LogginEcommerce.css" rel="stylesheet" />
</head>
<body>
    <div class="l-form">
        @using (Html.BeginForm("LoginUser", "LoginEcommerce", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
        {
            <img class="logo" src="~/Content/Imagens/logo-bill.svg" alt="D da Dom Tchochoro" />

            <h1 class="form__title">Fazer Login</h1>

            <div class="google-button">
                <img class="google-icon" src="~/Content/Imagens/google.svg" alt="Logo da Google" />
                <span class="google-text">Logar com Google</span>
            </div>

            <div class="form__div">
                @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form__input", placeholder = " "} })
                <label for="" class="form__label">Email</label>
            </div>

            <div class="form__div">
                <input type="password" class="form__input" placeholder=" " />
                <label for="" class="form__label">Digite sua senha</label>
            </div>

            <span class="forgot-password">Esqueci minha conta</span>
            <button class="form__button">Entra na sua conta</button>

            <span class="create-account-text">Não tem conta ainda? <u class="create-link">Criar</u></span>

            @section Scripts{
                @Scripts.Render("~/bundles/jqueryval");
            }
        }
    </div>
</body>
</html>
