
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Dom Tchochoro</title>
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/LogginEcommerce.css" rel="stylesheet" />
</head>
<body>
    <div class="l-form">
        <form action="" class="form">
            <img class="logo" src="~/Content/Imagens/logo-bill.svg" alt="D da Dom Tchochoro" />

            <h1 class="form__title">Criar conta</h1>

            <div class="form__div">
                <input type="email" class="form__input" placeholder=" " />
                <label for="" class="form__label">Email</label>
            </div>

            <div class="form__div">
                <input type="text" class="form__input" placeholder=" " />
                <label for="" class="form__label">Digite seu nome</label>
            </div>

            <div class="form__div">
                <input type="text" class="form__input" placeholder=" " />
                <label for="" class="form__label">Digite seu telefone</label>
            </div>

            <div class="form__div">
                <input type="text" class="form__input" placeholder=" " />
                <label for="" class="form__label">Digite seu cpf</label>
            </div>

            <div class="form__div">
                <input type="password" class="form__input" placeholder=" " />
                <label for="" class="form__label">Digite sua senha</label>
            </div>

            <button class="form__button">Criar sua conta</button>

            <span class="create-account-text">Já tem uma conta? <u class="create-link">Faça login</u></span>
        </form>
    </div>
</body>
</html>
