
﻿.details-text {
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.details-text-information {
    font-size: 15px;
    font-weight: normal;
    color: var(--tertiary-font-color);
}
﻿
@media (prefers-color-scheme: dark) {

    .table {
        color: #000000 !important;
    }
}

.main-payment {
    margin-right: 25vw;
    margin-left: 25vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.005em;
    color: var(--secondary-font-color);
}

.text-black{
    color: var(--font-black)
}

.payment-method {
    margin-top: 10vh;
}

.picpay {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 23vh;
}

.order-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.005em;
    color: var(--primary-font-color);
    margin-top: 15vh;
    margin-bottom: 5vh;
}

.table {
    text-align: center !important;
    width: 30vw;
    font-size: 1.2rem;
}

.item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 28rem;
    color: var(--font-black);
}

.left {
    text-align: left;
    color: var(--font-black);
}

.table-price {
    color: var(--font-black);
}

.table th, .table td {
    padding: 1.4rem !important;
}

.table thead th {
    border-bottom: 2px solid transparent !important;
}

.table th, .table td {
    border-top: 1px solid transparent !important;
}

.order-total {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.005em;
    color: var(--primary-font-color);
    width: 27vw;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}


.continue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150vh;
    justify-content: space-around;
    margin-top: 10vh;
}

.button-continue {
    border: 2px solid var(--first-color);
    box-sizing: border-box;
    border-radius: 40px;
    height: 5vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: var(--colored-font);
    background: none;
}

.button-continue:hover {
    color: var(--secondary-colored-font-color);
    transition: 1s;
}

.button-continue:disabled {
    border: 2px solid red;
    background: none;
    color: red;
    cursor: not-allowed;
}

#myColor {
    background-color: red;
}

.hr-continue {
    height: 1px;
    width: 26vw;
    border-radius: 50px;
    background: var(--hr-grey);
}
.modal-qrcode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.qr-code{
    max-width: 40%;
}
.card-body {
    background-color: var(--filter-box);
    border-radius: 8px;
    padding: 37px 15px 50px 15px;
    display: grid;
}

.center-img {
    transform: translate(30%, -2%);
}

.qrcode-container{
    margin: 0 0 30px 40px;
}

.qrcode-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-font-color);
}

.qrcode-information {
    font-size: 14px;
    font-weight: normal;
    color: var(--tertiary-font-color);
}

@media (min-width: 800px) {
    .modal-lg, .modal-xl {
        max-width: none !important;
    }
}