#main {
    background-color: var(--base-color)
}
.hidden {
    visibility: hidden !important;
    display: none !important;
}

.input-decoration {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
    width: 58px;
    height: 40px;
    border: 1px solid transparent;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mb-3, .my-3 {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.product-title {
    font-style: normal;
    font-weight: 600;
    color: var(--selected-product-color);
    color: #000;
    font-size: 32px;
}

.block-information {
    display: flex;
    justify-content: space-between;
    color: var(--font-black)
}

.product-price {
    color: #2B94F9;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
}

.inventory {
    color: #3BA749;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.produc-selected-desc{
    color: var(--font-black);
}

.more-information-title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #42464d;
}

.specifications-title {
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    color: var(--sidebar-title-color);
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.buy-button {
    border-radius: 41px;
    margin-bottom: 20px;
    background-color: #2B94F9;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    border: 1px solid transparent;
    user-select: none;
    background-image: none;
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
}

    .buy-button:hover {
        background-color: #1c8ffa;
    }

#sub {
    color: #1c8ffa;
    background-color: #fff;
    border: none;
    padding: 8px 12px;
    width: 60px;
    height: 60px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #edeff2;
    height: 40px;
}

#add {
    color: #1c8ffa;
    background-color: #fff;
    border: none;
    padding: 8px 12px;
    width: 60px;
    height: 60px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #edeff2;
    border-right: none;
    height: 40px;
}

.input-style {
    font-size: 14px;
    color: #42464d;
    font-weight: 600;
    border: none;
    border-left: 0px;
    height: 40px;
    padding: 2px 16px;
    width: 50px;
    border-top: 1px solid #edeff2;
    border-bottom: 1px solid #edeff2;
}

.img-fluid {
    max-width: 92% !important;
}

.product-content {
    margin-bottom: 35%;
}

.section-container {
    margin-bottom: 4%;
}

.text-title {
    margin-top: 3%;
    margin-bottom: 2%;
}

.red {
    color: red;
}

.disable-button, .disable-button:hover {
    background-color: #75818C;
    cursor: not-allowed;
}
