
@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}

<h2 class="title-track-order">Track Order</h2>

<section class="sc-kJpAUB cogPiD cardPedido">
    <div class="sc-ciFQTS dImRrt">
        <div width="180px" class="sc-kHdrYz cEMKOC">
            <div class="sc-bzPmhk jXILUf">NÚMERO DO PEDIDO</div>
            <div class="sc-bxDdli djsRcZ">#14444844</div>
        </div>
        <div width="140px" class="sc-kHdrYz jPuQiW">
            <div class="sc-bzPmhk jXILUf">STATUS</div>
            <div class="sc-bxDdli ePTWkZ">Cancelado</div>
        </div>
        <div width="140px" class="sc-kHdrYz jPuQiW">
            <div class="sc-bzPmhk jXILUf">DATA</div>
            <div class="sc-bxDdli djsRcZ">18/03/2020</div>
        </div>
        <div width="180px" class="sc-kHdrYz cEMKOC">
            <div class="sc-bzPmhk jXILUf">PAGAMENTO</div>
            <div class="sc-bxDdli djsRcZ">Boleto Bancário</div>
        </div>
        <div width="50px" class="sc-kHdrYz fjxTKa">
            <div class="sc-bzPmhk jXILUf">NF-E</div>
            <div title="NF-E não disponível" class="sc-jWaEpP gIQOei">
                <svg width="40"
                     height="40"
                     viewBox="0 0 40 40"
                     fill="none"
                     xmlns="https://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M4.8 1.26528C4.99565 1.23341 5.19607 1.24853 5.38472 1.30938C5.57338 1.37024 5.74486 1.47509 5.885 1.61528L7.5 3.23278L9.115 1.61528C9.23111 1.49887 9.36905 1.40652 9.52092 1.3435C9.67278 1.28048 9.83558 1.24805 10 1.24805C10.1644 1.24805 10.3272 1.28048 10.4791 1.3435C10.6309 1.40652 10.7689 1.49887 10.885 1.61528L12.5 3.23278L14.115 1.61528C14.2311 1.49887 14.3691 1.40652 14.5209 1.3435C14.6728 1.28048 14.8356 1.24805 15 1.24805C15.1644 1.24805 15.3272 1.28048 15.4791 1.3435C15.6309 1.40652 15.7689 1.49887 15.885 1.61528L17.5 3.23278L19.115 1.61528C19.2311 1.49887 19.3691 1.40652 19.5209 1.3435C19.6728 1.28048 19.8356 1.24805 20 1.24805C20.1644 1.24805 20.3272 1.28048 20.4791 1.3435C20.6309 1.40652 20.7689 1.49887 20.885 1.61528L22.5 3.23278L24.115 1.61528C24.2311 1.49887 24.3691 1.40652 24.5209 1.3435C24.6728 1.28048 24.8356 1.24805 25 1.24805C25.1644 1.24805 25.3272 1.28048 25.4791 1.3435C25.6309 1.40652 25.7689 1.49887 25.885 1.61528L27.5 3.23278L29.115 1.61528C29.2311 1.49887 29.3691 1.40652 29.5209 1.3435C29.6728 1.28048 29.8356 1.24805 30 1.24805C30.1644 1.24805 30.3272 1.28048 30.4791 1.3435C30.6309 1.40652 30.7689 1.49887 30.885 1.61528L32.5 3.23278L34.115 1.61528C34.2551 1.47511 34.4264 1.37025 34.615 1.30934C34.8036 1.24843 35.0039 1.23322 35.1995 1.26497C35.3951 1.29671 35.5803 1.3745 35.7399 1.49191C35.8995 1.60933 36.029 1.76301 36.1175 1.94028L37.3675 4.44028C37.4546 4.6141 37.5 4.80585 37.5 5.00028V35.0003C37.5 35.1947 37.4546 35.3865 37.3675 35.5603L36.1175 38.0603C36.0289 38.2371 35.8995 38.3904 35.7401 38.5075C35.5807 38.6246 35.3958 38.7022 35.2006 38.7339C35.0053 38.7656 34.8053 38.7506 34.6171 38.69C34.4288 38.6294 34.2576 38.5249 34.1175 38.3853L32.5 36.7678L30.885 38.3853C30.7689 38.5017 30.6309 38.594 30.4791 38.6571C30.3272 38.7201 30.1644 38.7525 30 38.7525C29.8356 38.7525 29.6728 38.7201 29.5209 38.6571C29.3691 38.594 29.2311 38.5017 29.115 38.3853L27.5 36.7678L25.885 38.3853C25.7689 38.5017 25.6309 38.594 25.4791 38.6571C25.3272 38.7201 25.1644 38.7525 25 38.7525C24.8356 38.7525 24.6728 38.7201 24.5209 38.6571C24.3691 38.594 24.2311 38.5017 24.115 38.3853L22.5 36.7678L20.885 38.3853C20.7689 38.5017 20.6309 38.594 20.4791 38.6571C20.3272 38.7201 20.1644 38.7525 20 38.7525C19.8356 38.7525 19.6728 38.7201 19.5209 38.6571C19.3691 38.594 19.2311 38.5017 19.115 38.3853L17.5 36.7678L15.885 38.3853C15.7689 38.5017 15.6309 38.594 15.4791 38.6571C15.3272 38.7201 15.1644 38.7525 15 38.7525C14.8356 38.7525 14.6728 38.7201 14.5209 38.6571C14.3691 38.594 14.2311 38.5017 14.115 38.3853L12.5 36.7678L10.885 38.3853C10.7689 38.5017 10.6309 38.594 10.4791 38.6571C10.3272 38.7201 10.1644 38.7525 10 38.7525C9.83558 38.7525 9.67278 38.7201 9.52092 38.6571C9.36905 38.594 9.23111 38.5017 9.115 38.3853L7.5 36.7678L5.885 38.3853C5.74494 38.5255 5.57356 38.6303 5.38501 38.6912C5.19645 38.7521 4.99611 38.7673 4.80052 38.7356C4.60493 38.7039 4.41969 38.6261 4.26007 38.5087C4.10046 38.3912 3.97104 38.2376 3.8825 38.0603L2.6325 35.5603C2.54538 35.3865 2.50001 35.1947 2.5 35.0003V5.00028C2.50001 4.80585 2.54538 4.6141 2.6325 4.44028L3.8825 1.94028C3.97103 1.76313 4.10038 1.60956 4.2599 1.4922C4.41941 1.37485 4.60453 1.29707 4.8 1.26528ZM5.3425 4.61028L5 5.29528V34.7053L5.3425 35.3903L6.6175 34.1153C6.85191 33.8809 7.16979 33.7493 7.50125 33.7493C7.83271 33.7493 8.15059 33.8809 8.385 34.1153L10 35.7328L11.615 34.1178C11.7311 34.0014 11.8691 33.909 12.0209 33.846C12.1728 33.783 12.3356 33.7505 12.5 33.7505C12.6644 33.7505 12.8272 33.783 12.9791 33.846C13.1309 33.909 13.2689 34.0014 13.385 34.1178L15 35.7328L16.615 34.1178C16.7311 34.0014 16.8691 33.909 17.0209 33.846C17.1728 33.783 17.3356 33.7505 17.5 33.7505C17.6644 33.7505 17.8272 33.783 17.9791 33.846C18.1309 33.909 18.2689 34.0014 18.385 34.1178L20 35.7328L21.615 34.1178C21.7311 34.0014 21.8691 33.909 22.0209 33.846C22.1728 33.783 22.3356 33.7505 22.5 33.7505C22.6644 33.7505 22.8272 33.783 22.9791 33.846C23.1309 33.909 23.2689 34.0014 23.385 34.1178L25 35.7328L26.615 34.1178C26.7311 34.0014 26.8691 33.909 27.0209 33.846C27.1728 33.783 27.3356 33.7505 27.5 33.7505C27.6644 33.7505 27.8272 33.783 27.9791 33.846C28.1309 33.909 28.2689 34.0014 28.385 34.1178L30 35.7328L31.615 34.1178C31.7311 34.0014 31.8691 33.909 32.0209 33.846C32.1728 33.783 32.3356 33.7505 32.5 33.7505C32.6644 33.7505 32.8272 33.783 32.9791 33.846C33.1309 33.909 33.2689 34.0014 33.385 34.1178L34.6575 35.3903L35 34.7053V5.29528L34.6575 4.61028L33.3825 5.88528C33.1481 6.11962 32.8302 6.25127 32.4988 6.25127C32.1673 6.25127 31.8494 6.11962 31.615 5.88528L30 4.26778L28.385 5.88528C28.2689 6.00169 28.1309 6.09405 27.9791 6.15706C27.8272 6.22008 27.6644 6.25252 27.5 6.25252C27.3356 6.25252 27.1728 6.22008 27.0209 6.15706C26.8691 6.09405 26.7311 6.00169 26.615 5.88528L25 4.26778L23.385 5.88528C23.2689 6.00169 23.1309 6.09405 22.9791 6.15706C22.8272 6.22008 22.6644 6.25252 22.5 6.25252C22.3356 6.25252 22.1728 6.22008 22.0209 6.15706C21.8691 6.09405 21.7311 6.00169 21.615 5.88528L20 4.26778L18.385 5.88528C18.2689 6.00169 18.1309 6.09405 17.9791 6.15706C17.8272 6.22008 17.6644 6.25252 17.5 6.25252C17.3356 6.25252 17.1728 6.22008 17.0209 6.15706C16.8691 6.09405 16.7311 6.00169 16.615 5.88528L15 4.26778L13.385 5.88528C13.2689 6.00169 13.1309 6.09405 12.9791 6.15706C12.8272 6.22008 12.6644 6.25252 12.5 6.25252C12.3356 6.25252 12.1728 6.22008 12.0209 6.15706C11.8691 6.09405 11.7311 6.00169 11.615 5.88528L10 4.26778L8.385 5.88528C8.26889 6.00169 8.13095 6.09405 7.97908 6.15706C7.82722 6.22008 7.66442 6.25252 7.5 6.25252C7.33558 6.25252 7.17278 6.22008 7.02092 6.15706C6.86905 6.09405 6.73111 6.00169 6.615 5.88528L5.3425 4.61028Z"
                          fill="#565C69"></path>
                    <path fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M7.5 11.25C7.5 10.9185 7.6317 10.6005 7.86612 10.3661C8.10054 10.1317 8.41848 10 8.75 10H23.75C24.0815 10 24.3995 10.1317 24.6339 10.3661C24.8683 10.6005 25 10.9185 25 11.25C25 11.5815 24.8683 11.8995 24.6339 12.1339C24.3995 12.3683 24.0815 12.5 23.75 12.5H8.75C8.41848 12.5 8.10054 12.3683 7.86612 12.1339C7.6317 11.8995 7.5 11.5815 7.5 11.25ZM7.5 16.25C7.5 15.9185 7.6317 15.6005 7.86612 15.3661C8.10054 15.1317 8.41848 15 8.75 15H23.75C24.0815 15 24.3995 15.1317 24.6339 15.3661C24.8683 15.6005 25 15.9185 25 16.25C25 16.5815 24.8683 16.8995 24.6339 17.1339C24.3995 17.3683 24.0815 17.5 23.75 17.5H8.75C8.41848 17.5 8.10054 17.3683 7.86612 17.1339C7.6317 16.8995 7.5 16.5815 7.5 16.25ZM7.5 21.25C7.5 20.9185 7.6317 20.6005 7.86612 20.3661C8.10054 20.1317 8.41848 20 8.75 20H23.75C24.0815 20 24.3995 20.1317 24.6339 20.3661C24.8683 20.6005 25 20.9185 25 21.25C25 21.5815 24.8683 21.8995 24.6339 22.1339C24.3995 22.3683 24.0815 22.5 23.75 22.5H8.75C8.41848 22.5 8.10054 22.3683 7.86612 22.1339C7.6317 21.8995 7.5 21.5815 7.5 21.25ZM7.5 26.25C7.5 25.9185 7.6317 25.6005 7.86612 25.3661C8.10054 25.1317 8.41848 25 8.75 25H23.75C24.0815 25 24.3995 25.1317 24.6339 25.3661C24.8683 25.6005 25 25.9185 25 26.25C25 26.5815 24.8683 26.8995 24.6339 27.1339C24.3995 27.3683 24.0815 27.5 23.75 27.5H8.75C8.41848 27.5 8.10054 27.3683 7.86612 27.1339C7.6317 26.8995 7.5 26.5815 7.5 26.25ZM27.5 11.25C27.5 10.9185 27.6317 10.6005 27.8661 10.3661C28.1005 10.1317 28.4185 10 28.75 10H31.25C31.5815 10 31.8995 10.1317 32.1339 10.3661C32.3683 10.6005 32.5 10.9185 32.5 11.25C32.5 11.5815 32.3683 11.8995 32.1339 12.1339C31.8995 12.3683 31.5815 12.5 31.25 12.5H28.75C28.4185 12.5 28.1005 12.3683 27.8661 12.1339C27.6317 11.8995 27.5 11.5815 27.5 11.25ZM27.5 16.25C27.5 15.9185 27.6317 15.6005 27.8661 15.3661C28.1005 15.1317 28.4185 15 28.75 15H31.25C31.5815 15 31.8995 15.1317 32.1339 15.3661C32.3683 15.6005 32.5 15.9185 32.5 16.25C32.5 16.5815 32.3683 16.8995 32.1339 17.1339C31.8995 17.3683 31.5815 17.5 31.25 17.5H28.75C28.4185 17.5 28.1005 17.3683 27.8661 17.1339C27.6317 16.8995 27.5 16.5815 27.5 16.25ZM27.5 21.25C27.5 20.9185 27.6317 20.6005 27.8661 20.3661C28.1005 20.1317 28.4185 20 28.75 20H31.25C31.5815 20 31.8995 20.1317 32.1339 20.3661C32.3683 20.6005 32.5 20.9185 32.5 21.25C32.5 21.5815 32.3683 21.8995 32.1339 22.1339C31.8995 22.3683 31.5815 22.5 31.25 22.5H28.75C28.4185 22.5 28.1005 22.3683 27.8661 22.1339C27.6317 21.8995 27.5 21.5815 27.5 21.25ZM27.5 26.25C27.5 25.9185 27.6317 25.6005 27.8661 25.3661C28.1005 25.1317 28.4185 25 28.75 25H31.25C31.5815 25 31.8995 25.1317 32.1339 25.3661C32.3683 25.6005 32.5 25.9185 32.5 26.25C32.5 26.5815 32.3683 26.8995 32.1339 27.1339C31.8995 27.3683 31.5815 27.5 31.25 27.5H28.75C28.4185 27.5 28.1005 27.3683 27.8661 27.1339C27.6317 26.8995 27.5 26.5815 27.5 26.25Z"
                          fill="#565C69"></path>
                </svg>
            </div>
        </div>
        <div class="sc-dGXBhE fZEGIN">
            <div class="sc-PZsNp lcYBAS linkDetalhesPedido">Detalhes do pedido</div>
            <svg width="15"
                 height="14"
                 viewBox="0 0 15 14"
                 fill="none"
                 xmlns="https://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.947265 9.86399L2.21999 11.1367L7.94727 5.40945L13.6745 11.1367L14.9473 9.86399L7.94727 2.86399L0.947265 9.86399Z"
                      fill="#FF6500"></path>
            </svg>
        </div>
    </div>
    <div></div>
</section>
