
@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/Shared/_LayoutEcommerce.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pagamento - Dom Tchochoro</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/rootE.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Cart.css" rel="stylesheet" />
    <link href="~/Content/PartialsEcommerce/Payment.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap"
          rel="stylesheet" />
</head>
<style>
    #first {
        background-color: transparent;
    }
    #first-text {
        color: var(--buttom-color);
    }
    #second {
        background-color: var(--buttom-color);
    }
    #second-text {
        color: var(--base-color);
    }
</style>
<section class="steps">
    <div id="first-step-container" class="step-container">
        <div id="first" class="number-container">
            <span id="first-text" class="step-number">1</span>
        </div>
        <span class="step-text">Carrinho</span>
    </div>
    <div id="second-step-container" class="step-container">
        <div id="second" class="number-container">
            <span id="second-text" class="step-number">2</span>
        </div>
        <span class="step-text">Pagamento</span>
    </div>
    <div id="third-step-container" class="step-container">
        <div id="third" class="number-container">
            <span id="third-text" class="step-number">3</span>
        </div>
        <span class="step-text">Recibo</span>
    </div>
</section>
<main class="main-payment">
    <h2 class="main-text">
        Escolha a opção de pagamento a abaixo<br />
        e complete com as informações apropriadas
    </h2>
    <div class="payment-method">
        <img class="picpay" src="~/Content/Imagens/a.png" alt="Pic Pay" />
    </div>
    <h1 class="order-text">
        Revise seu pedido
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th class="left" scope="col">Item</th>
                <th scope="col"></th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="left">Arroz de cachorro 39kg</td>
                <th class="left" scope="row">x1</th>
                <td>R$ 40,99</td>
            </tr>
            <tr>
                <td class="left">Petisco de gato 1kg</td>
                <th class="left" scope="row">x2</th>
                <td>R$ 30,00</td>
            </tr>
        </tbody>
    </table>

    <h1 class="order-total">
        <span class="order-total-text">Total</span>
        <span class="order-total-value">R$ 70,99</span>
    </h1>

    <div class="continue">
        <div class="hr-continue"></div>
        @Html.ActionLink("Continuar", "Receipt", new { controller = "PaymentEcommerce" }, new { @class = "button-continue" })
        <div class="hr-continue"></div>
    </div>

    <div class="back">
        <span class="back-span">Talvez você queira voltar?</span>
        @Html.ActionLink("Voltar", "Home", new { controller = "HomeEcommerce" }, new { @class = "back-button" })
    </div>
</main>