#all-about {
    margin-top: 5vh
}

#number-ordered {
    font-size: 4.6rem;
    font-weight: 800;
    padding-bottom: 3vh;
}

#prod-ordered {
    padding-top: 3vh;
}

.graphs {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b" "c d";
    grid-gap: 60px;
}

.firt-graph {
    margin-top: 3vh;
    border: 1px solid var(--border-color);
    background-color: white;
    height: 35vh;
    grid-area: a;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.second-graph {
    margin-top: 3vh;
    border: 1px solid var(--border-color);
    background: transparent;
    height: 35vh;
    grid-area: b;
}

.third-graph {
    margin-top: 3vh;
    border: 1px solid var(--border-color);
    background-color: white;
    height: 35vh;
    grid-area: c;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}


.fourth-graph {
    display: grid;
    justify-content: center;
    margin-top: 3vh;
    border: 1px solid var(--border-color);
    height: 35vh;
    grid-area: d;
    color: black;
    background-color: white;
}

.prod-title {
    padding-top: 4%;
    font: 600 2.1rem Mulish;
    color: black;
}

.product-submit {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border-style: none;
    border: 3px solid #2d2e34;
    background-color: transparent;
    color: var(--primary-text-color);
    font: 700 2.4rem Mulish;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

.product-submit:hover{
    background-color: var(--arrow-hover-button-color);
}


.img-arrow {
    width: 30px;
}



@media (min-width: 730px) {
    .graphs {
        width: 60vw;
    }

}