.none {
    /*Css for fix card grid dont change*/
}

.avatar-img {
    display: flex;
    justify-content: center;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#small-card {
    margin-top: 2%;
}

.avatar-img {
    display: flex;
    justify-content: center;
}

p {
    justify-self: flex-start;
}

#title-prod {
    margin-top: 5%;
    font: 700 3rem Mulish;
    color: var(--primary-text-color);
}

.icon-photo {
    height: 100%;
    width: 80%;
    padding: 5%;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: white;
    display: block;
}

#marc-prod {
    margin-top: 2%;
    font: 300 2.1rem Mulish;
    color: var(--tertiary-text-color);
}

#desc-prod {
    font: 400 2.1rem Mulish;
    color: var(--tertiary-text-color);
}

#tp-prod {
    margin-top: 2%;
    font: 600 2.1rem Mulish;
    color: var(--primary-text-color);
}

#price-prod {
    margin-top: 2%;
    font: 700 2.2rem Mulish;
    color: var(--primary-text-color);
}

#quant-prod {
    font: 700 2.2rem Mulish;
    color: var(--primary-text-color);
}

.min-prod {
    font: 700 2.2rem Mulish;
}

.sub-button {
    margin-top: 30%;
}

.search-img {
    height: 12px;
    width: 12px;
}

#input-prod {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 10%;
    width: 101%;
}

#card-text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #252733;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #252733;
    overflow: hidden;
    margin-bottom: 0px;
}

#card-text-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #252733;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    justify-self: auto;
}

#card-price {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #252733;
}

#card-price-red {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: red;
}

.card-body {
    padding: 0px !important;
    filter: inherit !important;
    flex: 1 1 auto;
    padding: 1.25rem;
}

#card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    justify-self: auto;
    margin-bottom: 2px;
}

.card-footer {
    padding: 1px !important;
    background-color: #ffff !important;
    border-top: none !important; 
}

.card {
    filter:unset !important;
    background-color: #ffff;
    margin: 5px;
}


/*.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}*/

#search-bar {
    height: 35px;
}

.container-list {
    width: 100%;
    max-width: 1130px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1297px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 3%;
        grid-gap: 30px;
    }

    #small-card {
        margin: 3px;
    }

    #input-prod {
        padding: 0%;
    }

    .icon-photo {
        height: auto;
        width: 103%;
        padding: 12px;
    }
}
