:root {
    --base-color: #fafafa;
    --navbar-color: #288be9;
    --buttom-color: #288be9;
    --buttom-secondary-color: #717b84;
    --footer-font-color: #fffff;
    --colored-font: #2b94f9;
    --primary-font-color: #191a20;
    --secondary-font-color: #2d2f3d;
    --tertiary-font-color: #9da3a9;
    --card-font: #252733;
    --filter-font: #252733;
    --normal-font-size: 1rem;
    --small-font-size: 0.75rem;
    --first-color: #2b94f9;
    --input-color: #80868b;
    --border-color: #dadce0;
    --hr-color: #8eb9e1;
    --normal-font-size: 1rem;
    --small-font-size: 1rem;
}

*,
::before,
::after {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Mulish";
}

html {
    font-size: 60%;
}

body {
    background-color: var(--base-color);
    font-family: 'Mulish', sans-serif;
    font-feature-settings: 'ss02' on;
    font-weight: 400;
    min-height: 100%;
    line-height: 1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F1F1F1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2B94F9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #288BE9;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
    list-style: none;
    margin-bottom: 0 !important;
}

a {
    text-decoration: none;
}

@media (min-width: 1297px) {
    html {
        font-size: 80%;
    }
}

@media (man-width: 1080px) {
    html {
        font-size: 93.85%;
    }
}

.container {
    width: 100%;
    max-width: 1130px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


strong {
    color: #42464d;
    font-weight: bold;
}

hr {
    color: #DADDDF;
    margin-top: 14px;
    margin-bottom: 14px;
}

